<mat-dialog-content>
  <form class="form" [formGroup]="driversForm" (ngSubmit)="submitForm()">
    <mat-form-field class="form__input">
      <input matInput placeholder="Driver name" type="text" formControlName="name">
    </mat-form-field><br>
    <mat-form-field class="form__input">
      <input matInput placeholder="Driver phone" type="tel" formControlName="phone">
    </mat-form-field>
    <br>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="close()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="submitForm()">{{mainObj.action}}</button>
</mat-dialog-actions>
