@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";


.search {
  display: flex;
  height: 36px;
  border-radius: 32px;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
  width: 36px;
  padding-left: 4px;
  margin-bottom:  20px;
  cursor: pointer;
  flex-direction: row-reverse;

  // &:hover {
  //   background-color: $black-08;
  // }

  @media (max-width: $small) {
    display: none;
  }
}

.show-search-input {
  animation: 0.3s open_search;
  width: 250px;
  padding-left: 22.4px;
  background-color: #536DFE;
}

.search-input {
  color: $white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 19px;
  font-size: $fs-small;
  background-color: transparent;
  border: none;
  outline: none;
  height: 36px;
  width: 100%;

  &::-webkit-input-placeholder {
    color: $white-35;
  }
}

.search-icon {
  padding: 0 7px 3px 0;
  color: $white-35;
}

.open-search {
  animation: 0.3s move_search-icon;
  padding-right: 16px;
  padding-left: 4px;
}

@keyframes open_search { from { width: 36px; } to { width: 250px; }  }
@keyframes open_search_large { from { width: 36px; } to { width: 150px; }  }
@keyframes move_search-icon { from { padding: 0 7px 3px 0; } to { padding-right: 16px; }  }


.orders-table-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin: 16px 16px 32px 16px;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $small) {
      padding: 0 16px;
    }
  }

  &__title {
    margin: 0;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: inherit;
  }

  &__search-input {
    font-size: $fs-normal;
    height: 32px;
    border: 0;
    border-bottom: 1px solid $grey;
    outline: none;

    @media (max-width: $small) {
      width: 150px;
    }

    &:focus {
      border-bottom: 2px solid $blue;
    }
  }

  &__button {
    box-shadow: none;
    background-color: inherit;
    width: 46px;
    height: 46px;
    color: $grey;

    &:hover {
      background-color: $black-08;
      color: $blue;
    }
  }
  &__deleteBtn {

  }
  &__transferBtn {
    margin-left: 20px;
    margin-right: 30px;
  }
}

.orders-table {
  &__content {
    @media (max-width: $small) {
      overflow-x: scroll;
    }
  }

  &__table {
    width:100%;
    box-shadow: none;

    @media (max-width: $small) {
      width: 200%;
    }
  }

  &__table-checkbox {
    width: 32px;
    padding-left: 24px;
  }

  &__table-header {
    padding: 1rem;
    font-size: $fs-small;
  }

  &__table-body {
    padding: 1rem;
    font-size: $fs-small;
  }
}
